.app {

  &__title-area {
    height: 60vh;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: auto;
    max-width: 85vw;
    width: 100%;
  }

  @media only screen and (max-height: $landscape-bkp) {
    &__title-area {
      height: 85vh;
    }

    &__title {
      top: 40%;
    }
  }

  @media only screen and (max-height: $landscape-bkp) and (max-width: $m-phone-bkp) {
    &__title {
      top: 35%;
    }
  }

  // Full page loading spinner customisation
  .react-overlay-loader-spinner {
    &:before {
      border-top-color: $color-primary-dark;
    }

    & + span {
      // Override the library's default colour
      color: $color-primary-dark !important;
      font-weight: 700;
    }
  }
}