.english-input {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  display: flex;

  &__input {
    margin-right: $s-size;
    padding: .5rem 1rem;
    flex-grow: 1;
    height: 2.8rem;
    color: $color-primary-dark;
  }

  @media only screen and (max-width: $m-phone-bkp) {
    flex-direction: column;

    &__input {
      margin: 0 0 1.5rem 0;
    }

    &__button {
      border: none;
    }
  }

  @media only screen and (max-height: $landscape-bkp) {
    top: 55%;
  }

  @media only screen and (max-height: $landscape-bkp) and (max-width: $m-phone-bkp) {
    top: 50%;

    &__input {
      margin: 0 0 .5rem 0;
    }
  }
}