.header {
  background-color: $color-primary-dark;
  position: fixed;
  width: 100%;
  height: $header-height;
  z-index: 100;

  &__items {
    @include widthAndCenter(90vw);

    display: flex;
    justify-content: space-between;
    color: $color-secondary-light;
  }

  &__about {
    height: $header-height;
    border: none;
  }

  @media only screen and (max-width: $sm-phone-bkp) {
    &__items {
      justify-content: flex-end;
    }

    &__title {
      display: none;
    }
  }
}