.original-input {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  display: flex;

  .origin-select {
    &__control {
      border-radius: 0;
      height: 4rem;
      width: 7.3rem;
      background-color: $color-primary;
      border: 1px solid $color-primary;
      cursor: pointer;

      // Don't know why the animation transition is jenky
      // But only when the dropdown menu is being rendered at the same time
      // Not on keyboard navigation
      // Increase the duration a bit so it's less jarring
      transition: border-color .5s ease, width .8s ease;

      &-is-focused {
        box-shadow: none;
        width: 15rem;
      }

      &:hover {
        border-color: $btn-hover-color;

        .origin-select__dropdown-indicator {
          color: $color-primary-dark;
        }
      }
    }

    &__indicator-separator {
      display: none;
    }

    &__dropdown-indicator {
      color: $color-primary-dark;
    }

    &__value-container {
      & > * {
        width: 100%;
      }
    }

    &__input {
      width: 100%;
      cursor: auto;

      input {
        box-shadow: none;
        border: none;
        font-family: inherit;
        // Libraries are annoying... don't know why I need to do this, but it works
        width: 100% !important;
        color: $color-primary-dark !important;
      }
    }

    &__menu {
      width: 80vw;
      border-radius: 0;
      margin-top: .5rem;
    }

    &__menu-list {
      box-shadow: 0 0 5px $color-primary;
      color: $color-primary-dark;
      max-height: 25vh;
    }

    &__menu-notice {
      &--no-options {
        color: $color-primary-light;
      }
    }
  
    &__option {
      &:active {
        background-color: $color-primary;
        cursor: pointer;
      }

      &--is-disabled {
        color: $color-primary-light;
      }
  
      &--is-focused {
        background-color: $color-primary;
        cursor: pointer;
      }

      &--is-selected {
        background-color: $color-primary-dark;
      }
    }
  }

  &__container {
    flex-grow: 1;
    // Is both a flex parent as well as child
    display: flex;
  }

  &__input {
    padding: .5rem 1rem;
    flex-grow: 1;
    height: 2.8rem;
    color: $color-primary-dark;
    margin-right: $s-size;
    min-width: 10rem;
  }

  &__button {
    border: 1px solid lighten($color-primary-dark, 15%);
  }

  @media only screen and (max-width: $m-phone-bkp) {
    flex-direction: column;

    .origin-select {
      &__control {
        // Faster since it is tiny
        transition: border-color .2s ease, width .2s ease;

        &-is-focused {
          width: 10rem;
        }
      }
    }

    &__input {
      margin: 0 0 1.5rem 0;
    }
  }

  @media only screen and (max-height: $landscape-bkp) {
    top: 55%;
  }

  @media only screen and (max-height: $landscape-bkp) and (max-width: $m-phone-bkp) {
    top: 48%;

    &__input {
      margin: 0 0 .5rem 0;
    }
  }
}