.translated-result {
  padding: 0 2rem 2rem 2rem;

  border: .1rem solid $color-primary-light;
  border-radius: .5rem;
  // Do not be transparent
  background-color: white;

  min-height: 7.8rem;

  &__header {
    display: flex;
    justify-content: space-between;

    .btn-close {
      align-self: flex-start;
      margin-top: 1.6rem;
    }
  }

  &__lang {
    font-weight: 700;
    color: $color-primary-dark;
  }

  &__translated {
    display: inline-block;
  }
}